<div class="item">
  <div class="Module Pin pinActionBarStickyContainer pinWithSocialCounts summary">
    <div class="pinWrapper">
      <div class="bulkEditPinWrapper"></div>
      <div class="pinImageActionButtonWrapper">
        <div class='leftSideButtonsWrapper'>
          <button class="Button Module ShowModalButton btn hasIcon hasText isBrioFlat primary primaryOnHover repinSmall rounded" type="button">
            <em></em>
            <span class="buttonText">保存 </span>
          </button>
        </div>
        <div class="rightSideButtonsWrapper ">
          <button class="Button DropdownButton Module btn hasIcon isBrioFlat rounded sendSmall sendPinGrid" type="button">
            <em></em>
            <span class="accessibilityText">送信</span>
          </button>
          <button class="Button LikeButton Module PinLikeButton btn hasIcon isBrioFlat likeSmall rounded" type="button">
            <em></em>
            <span class="accessibilityText">いいね！</span>
          </button>
        </div>
        <a class="Button Module NavigateButton borderless hasIcon hasText pinNavLink navLinkOverlay" href="#" rel="nofollow" type="button">
          <em></em>
          <span class="buttonText">
            <strong>dummy</strong>で詳細を見る
          </span>
        </a>
        <div class="pinHolder">
          <a href="#" class="pinImageWrapper draggable" style="background: #c7e5f8;" >
            <div class='pinDomain'>dummy</div>
            <div class="fadeContainer">
              <div class="pinImageDim">
                <div class="dimOverlay"></div>
                <div class="dimGradient"></div>
              </div>
              <div class="Image Module pinUiImage" style="width: 236px">
                <div class="heightContainer">
                  <%= image_tag pin.image, class: "pinImg fullBleed" %>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="pinMetaWrapper">
        <div class="pinMeta ">
          <p class="pinDescription"><%= pin.description %></p>
        </div>
        <div class="pinDpSocialCounts">
          <div class="Module SocialIconsCounts">
            <div class="pinSocialMeta">
              <!-- <a class="socialItem" href="/pin/312718767861518373/activity/"> -->
                <em class="repinIconSmall"></em>
                <em class="socialMetaCount repinCountSmall">
                  <span class="visuallyHidden">保存回数：</span>dummy
                </em>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="pinCredits">
        <div class="pinCreditWrapper " >
          <button class="Button DropdownButton Module borderless hasIcon hidePinInfo" type="button">
            <em></em>
            <span class="accessibilityText">詳細</span>
          </button>
          <div class="creditItem " >
            <a href="#" >
              <div class="Image Module creditImg user unknownImage">
                <div class="heightContainer" >
                  <%= image_tag pin.user.image %>
                </div>
              </div>
              <div class="pinCreditNameTitleWrapper">
                <div class="creditName">
                  <%= pin.user.first_name %> <%= pin.user.last_name %>
                </div>
                <div class="creditTitle"><%= pin.board.name %></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="item">
  <div class="Module Pin pinActionBarStickyContainer pinWithSocialCounts summary" data-component-type="0" id="items44_m55">
    <div class="pinWrapper">
      <div class="bulkEditPinWrapper"></div>
      <div class="pinImageActionButtonWrapper">
        <div class='leftSideButtonsWrapper'>
          <button class="Button Module ShowModalButton btn hasIcon hasText isBrioFlat primary primaryOnHover repinSmall rounded" data-element-type="0" id="pinItButton66" type="button">
            <em></em>
            <span class="buttonText">保存 </span>
          </button>
        </div>
        <div class="rightSideButtonsWrapper ">
          <button class="Button DropdownButton Module btn hasIcon isBrioFlat rounded sendSmall sendPinGrid" data-element-type="98" id="sendPinButton77" type="button">
            <em></em>
            <span class="accessibilityText">送信</span>
          </button>
          <button class="Button LikeButton Module PinLikeButton btn hasIcon isBrioFlat likeSmall rounded" data-element-type="1" data-source-interest-id="" id="likeButton88" type="button">
            <em></em>
            <span class="accessibilityText">いいね！</span>
          </button>
        </div>
        <div class="pinHolder">
          <a href="/pin/399624166920013710/" class="pinImageWrapper draggable" data-element-type="35" style="background: #5a7785;">
            <div class='pinDomain'>Uploaded by user</div>
            <div class="fadeContainer">
              <div class="hoverMask"></div>
              <div class="Image Module pinUiImage" id="items44_m55_m99" style="width: 236px">
                <div class="heightContainer"  >
                  <%= image_tag pin.image, class: "pinImg fullBleed" %>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="pinMetaWrapper">
        <div class="pinMeta ">
          <p class="pinDescription">
        </div>
        <div class="pinDpSocialCounts">
          <div class="Module SocialIconsCounts" id="socialIconsCounts1010">
            <div class="pinSocialMeta">
              <a class="socialItem" href="/pin/399624166920013710/activity/" data-element-type="174">
                <em class="repinIconSmall"></em>
                <em class="socialMetaCount repinCountSmall">
                  <span class="visuallyHidden">保存回数：</span>3
                </em>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="pinCredits">
        <div class="pinCreditWrapper " >
          <button class="Button DropdownButton Module borderless hasIcon hidePinInfo" id="items44_m55_m1111" type="button">
            <em></em>
            <span class="accessibilityText">詳細</span>
          </button>
          <div class="creditItem " >
            <a href="/zsigita/infographics/" >
              <div class="Image Module creditImg user unknownImage" id="items44_m55_m1212">
                <div class="heightContainer" >
                  <%= pin.user.first_name %>
                </div>
              </div>
              <div class="pinCreditNameTitleWrapper">
                <div class="creditName"><%= pin.user.first_name %></div>
                <div class="creditTitle"><%= pin.board.name %> </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
