<div class="item ui-draggable ui-draggable-disabled ui-state-disabled" aria-disabled="true">
  <div class="Module User draggable gridItem">
    <%= link_to user_path(follower.id), class: "userWrapper", title: "#{follower.first_name}からの他のピン" do %>
    <!-- <a href="/erikatonosu/" class="userWrapper" data-element-type="64" title="Erika Tonosu からの他のピン"> -->
      <div class="userThumbs">
        <span class="focusThumbContainer">
          <span class="hoverMask"></span>
          <% if follower.image.present? %>
            <%= image_tag follower.image, class: "userFocusImage", alt: follower.first_name %>
          <% else %>
            <%= image_tag "default_280.png", alt: follower.first_name, class: "userFocusImage" %>
          <% end %>
          <!-- <img src="https://s-media-cache-ak0.pinimg.com/avatars/erikatonosu_1429420460_280.jpg" class="userFocusImage" data-load-state="pending" alt="Erika Tonosu"> -->
        </span>
      </div>
      <h3 class="username"><%= follower.first_name %> <%= follower.last_name %> </h3>
    <% end %>
    <!-- </a> -->
    <% if current_user.following_user?(follower) %>
      <button class="Button FollowButton Module UserFollowButton btn dim followed gridItem hasText notNavigatable rounded" type="button">
        <span class="buttonText">フォローをやめる</span>
      </button>
    <% else %>
    <button class="Button FollowButton Module UserFollowButton btn gridItem hasText notNavigatable rounded" data-element-type="62" type="button">
      <span class="buttonText">フォローする </span>
    </button>
    <% end %>
  </div>
</div>
