<div class="App AppBase Module" data-component-type="17">
  <div class="appContent" role="main">
    <div class="mainContainer">
      <div class="Module UnauthLoginReactWrapper">
        <div class="DenzelReactBridge Module">
          <div style="margin-top:100px;" data-reactroot="" data-reactid="1" data-react-checksum="-1963052694">
            <style data-reactid="2">
              article,
              aside,
              details,
              figcaption,
              figure,
              footer,
              header,
              hgroup,
              nav,
              section,
              ul {
                display: block;
              }

              audio,
              canvas,
              video {
                display: inline-block;
              }

              audio:not([controls]) {
                display: none;
              }

              html {
                font-size: 100%;
                text-size-adjust: none;
              }

              a:hover,
              a:active {
                outline: 0;
              }

              sub,
              sup {
                position: relative;
                font-size: 75%;
                line-height: 0;
                vertical-align: baseline;
              }
              sup {
                top: -0.5em;
              }
              sub {
                bottom: -0.25em;
              }

              img {
                max-width: 100%;
                width: auto9;
                height: auto;

                vertical-align: middle;
                border: 0;
                -ms-interpolation-mode: bicubic;
              }

              #map_canvas img {
                max-width: none;
              }

              fieldset {
                border: 0;
                margin: 0;
                padding: 0;
              }

              button,
              input,
              select,
              textarea {
                font-size: 100%;
                margin: 0;
                vertical-align: middle;
              }
              button,
              input {
                overflow: visible;
                line-height: normal;
              }
              button::-moz-focus-inner,
              input::-moz-focus-inner {
                padding: 0;
                border: 0;
              }
              button,
              input[type='button'],
              input[type='reset'],
              input[type='submit'] {
                cursor: pointer;
                -webkit-appearance: button;
              }
              input[type='search'] {
                box-sizing: content-box;
                -webkit-appearance: textfield;
              }
              input[type='search']::-webkit-search-decoration,
              input[type='search']::-webkit-search-cancel-button {
                -webkit-appearance: none;
              }
              textarea {
                overflow: auto;
                vertical-align: top;
              }
              body {
                margin: 0;
              }
              h1, h2, h3, h4, h5, h6 {
                margin: 0;
              }

              html {
                background-color: #efefef;
              }

              html, body {
                font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
                       'ＭＳ Ｐゴシック', arial, sans-serif;
                color: rgb(33, 25, 34);
                font-size: 12px;
                height: 100%;
              }

              body {
                position: relative;
                overflow-y: scroll;
              }

              input::-ms-clear {
                display: none;
              }

              a {
                color: #717171;
                font-weight: bold;
                text-decoration: none;
              }

              a:focus,
              a:hover {
                color: #8a8a8a;
              }

              ul {
                margin: 0;
                padding: 0;
              }

              ul li {
                list-style: none;
                padding: 0;
              }

              :focus {
                outline: #d1d1d1 auto 1px
              }

              button, input, select, textarea {
                font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
                       'ＭＳ Ｐゴシック', arial, sans-serif;
                font-size: 100%;
                vertical-align: middle;
                margin: 0px;
              }

              .SkipToContent {
                display: none;
              }


              .FacebookConnectButton__icon {

                    width: 24px;
                    height: 24px;
                    background: url("spritesheet3.png") -89px 0px no-repeat;
              }
              @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                .FacebookConnectButton__icon {

                    background-image: url("spritesheet4.png");
                    background-position:  -88px 0px;
                    background-size: 123px 102px;
                }
              }

              .AlternativesSeparator::before {
                margin-right: 10px;
              }
              .AlternativesSeparator::after {
                margin-left: 10px;
              }
              .AlternativesSeparator:before, .AlternativesSeparator:after {
                background: rgba(0,0,0,0.2);
                -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
                box-shadow: 0 1px 0 rgba(255,255,255,0.5);
                content: '';
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 37%;
              }
              .AlternativesSeparator.light {
                color: #fff !important;
              }

              .AlternativesSeparatorContinuous:before, .AlternativesSeparatorContinuous:after {
                background: rgba(0,0,0,0.2);
                -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
                box-shadow: 0 1px 0 rgba(255,255,255,0.5);
                content: '';
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 37%;
              }

              .AlternativesSeparatorMobile::before {
                margin-right: 5px;
                padding-right: 13px;
              }
              .AlternativesSeparatorMobile::after {
                margin-left: 5px;
                padding-left: 13px;
              }
              .AlternativesSeparatorMobile:before, .AlternativesSeparatorMobile:after {
                background: rgba(0,0,0,0.2);
                -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
                box-shadow: 0 1px 0 rgba(255,255,255,0.5);
                content: '';
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 35%;
              }
              .AlternativesSeparatorMobile.light {
                color: #fff !important;
              }

              .PinterestLogo {

                    width: 87px;
                    height: 21px;
                    background: url("spritesheet3.png") 0px 0px no-repeat;
              }
              @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                .PinterestLogo {

                    background-image: url("spritesheet4.png");
                    background-position:  0px 0px;
                    background-size: 123px 102px;
                }
              }

              .Gender__customGenderTooltip:after, .customGenderTooltip:before {
                bottom: 100%;
                left: 92.5%;
                border: solid transparent;
                content: ' ';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
              }
              .Gender__customGenderTooltip:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #ffffff;
                border-width: 10px;
                margin-left: -10px;
              }
              .Gender__customGenderTooltip:before {
                border-color: rgba(145, 145, 145, 0);
                border-bottom-color: #919191;
                border-width: 11px;
                margin-left: -11px;
              }
              .Gender__customGenderTooltipMobile:after, .customGenderTooltip:before {
                bottom: 100%;
                left: 92.5%;
                border: solid transparent;
                content: ' ';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
              }
              .Gender__customGenderTooltipMobile:after {
                border-color: rgba(255, 255, 255, 0);
                border-width: 10px;
                margin-left: -10px;
              }
              .Gender__customGenderTooltipMobile:before {
                border-color: rgba(145, 145, 145, 0);
                border-bottom-color: #919191;
                border-width: 11px;
                margin-left: -11px;
              }
              .Gender__customGenderTooltipText:after, .customGenderTooltip:before {
                bottom: 100%;
                left: 92.5%;
                border: solid transparent;
                content: ' ';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
              }
              .Gender__customGenderTooltipText:after {
                border-color: rgba(255, 255, 255, 0);
                border-width: 10px;
                margin-left: 5px;
                margin-top: 10px;
              }
              .Gender__customGenderTooltipText:before {
                border-color: rgba(145, 145, 145, 0);
                border-bottom-color: #919191;
                border-width: 11px;
                margin-left: 5px;
                margin-top: 10px;
              }
              .Gender__infoIconDark {

                    width: 14px;
                    height: 14px;
                    background: url("spritesheet3.png") -86px -75px no-repeat;
              }
              .Gender__infoIconLight {

                    width: 14px;
                    height: 14px;
                    background: url("spritesheet3.png") -64px -91px no-repeat;
              }
              .Gender__infoIconLight:focus {
                outline:none;
              }
              .Gender__infoIconDark:focus {
                outline:none;
              }
              .Gender__iconSearchClear {

                    width: 15px;
                    height: 15px;
                    background: url("spritesheet3.png") -31px -91px no-repeat;
              }
              @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                .Gender__infoIconDark {

                    background-image: url("spritesheet4.png");
                    background-position:  -83px -72px;
                    background-size: 123px 102px;
                }
                .Gender__infoIconLight {

                    background-image: url("spritesheet4.png");
                    background-position:  -30px -87px;
                    background-size: 123px 102px;
                }
                .Gender__iconSearchClear {

                    background-image: url("spritesheet4.png");
                    background-position:  -88px -50px;
                    background-size: 123px 102px;
                }
              }

              .InputField__errorIcon {

                    width: 14px;
                    height: 14px;
                    background: url("spritesheet3.png") -48px -91px no-repeat;
              }
              @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                .InputField__errorIcon {

                    background-image: url("spritesheet4.png");
                    background-position:  -98px -72px;
                    background-size: 123px 102px;
                }
              }

              .Tooltip_message:before, .Tooltip_message:after {
                border-style: solid;
                content: '';
                display: block;
                margin-top: -8px;
                position: absolute;
                right: 100%;
                top: 17px;
                width: 0;
              }
              .Tooltip_message:before {
                border-color: transparent rgba(0,0,0,0.48);
                border-width: 8px 10px 8px 0;
              }
              .Tooltip_message:after {
                border-color: transparent #fff;
                border-width: 8px 10px 8px 0;
                margin-right: -1px;
              }
              .Tooltip_mobileMessage:before, .Tooltip_message:after {
                border-style: solid;
                display: block;
                margin-top: -8px;
                position: absolute;
                right: 100%;
                top: 17px;
                width: 0;
              }
              .Tooltip_mobileMessage:before {
                border-color: transparent rgba(0,0,0,0.48);
                border-width: 8px 10px 8px 0;
              }
              .Tooltip_mobileMessage:after {
                border-color: transparent #fff;
                border-width: 8px 10px 8px 0;
                margin-right: -1px;
              }
              .Tooltip_wrapper {
                position: absolute;
                left: calc(100% + 12px);
              }
              .Tooltip_mobileWrapper {
                margin-top: 7px;
              }

              .TermsOfService__light a {
                color: rgba(255,255,255,0.9);
              }

              .GoogleConnectButton__icon {

                    width: 38px;
                    height: 38px;
                    background: url("spritesheet3.png") 0px -23px no-repeat;
              }
              @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                .GoogleConnectButton__icon {

                    background-image: url("spritesheet4.png");
                    background-position:  0px -22px;
                    background-size: 123px 102px;
                }
              }


              .red:hover {
                background-color: #d50c22 !important;
              }
              .lightGrey:hover {
                background-color: #f5f3f3 !important;
              }
              .darkGrey:hover {
                background-color: #5e5e5e !important;
              }
              .opacityHover:hover {
                opacity: .8;
              }

              .loadingSpinner {
                background-image: url("spinner-medium.gif");
              }
            </style>
            <div style="background-color:#eee;border-radius:6px;position:relative;text-align:center;width:335px;margin:auto;box-shadow:0 2px 10px rgba(0,0,0,0.45);" data-reactid="3" data-test-login="true">
              <div style="background-color:#fff;border-radius:6px 6px 0 0;" data-reactid="4">
                <h2 class="PinterestLogo" style="display:inline-block;font:0 / 0 serif;text-shadow:none;color:transparent;margin:20px;" data-reactid="5">Pinterest</h2>
              </div>
              <div style="min-height:400px;padding:20px 10px;" data-reactid="6">
                <div style="margin:0 auto 25px;" data-reactid="7">
                  <h3 style="font-size:28px;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;letter-spacing:-1px;" data-reactid="8">他のピンを見るにはログインしてください</h3>
                </div>
                <div style="margin: 0px auto; width: 268px;">
                  <div>
                    <div style="height: 50px;">
                      <div class="fb-login-button fb_iframe_widget" data-scope="public_profile,email,user_likes,user_about_me,user_birthday,user_friends" onlogin="checkLoginState" login_text="" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=274266067164&amp;container_width=268&amp;locale=ja_JP&amp;scope=public_profile%2Cemail%2Cuser_likes%2Cuser_about_me%2Cuser_birthday%2Cuser_friends&amp;sdk=joey">
                        <span style="vertical-align: bottom; width: 268px; height: 50px;">
                          <iframe name="f1b0f5815da953" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:login_button Facebook Social Plugin" src="https://www.facebook.com/v2.7/plugins/login_button.php?app_id=274266067164&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FiPrOY23SGAp.js%3Fversion%3D42%23cb%3Df2ac0345bdefad8%26domain%3Djp.pinterest.com%26origin%3Dhttps%253A%252F%252Fjp.pinterest.com%252Ff34c35f1bdcafc%26relation%3Dparent.parent&amp;container_width=268&amp;locale=ja_JP&amp;scope=public_profile%2Cemail%2Cuser_likes%2Cuser_about_me%2Cuser_birthday%2Cuser_friends&amp;sdk=joey" style="border: none; visibility: visible; width: 268px; height: 50px;" class=""></iframe>
                        </span>
                      </div>
                    </div>
                    <div style="height: 5px;"></div>
                    <!-- <button class="GoogleConnectButton" type="button" data-gapiattached="true" style="border: 0px; height: 40px; display: block; border-radius: 2px; -webkit-font-smoothing: antialiased; padding: 1px; font-size: 15px; font-weight: bold; outline: none; position: relative; box-shadow: none; cursor: pointer; margin-top: 0px; vertical-align: middle; text-align: left; margin-bottom: 9px; margin-right: 0px; background-clip: padding-box; transition: opacity 0.2s linear; width: 100%; background-color: rgb(66, 133, 244);">
                      <span class="GoogleConnectButton__icon" style="display: inline-block; border-radius: 2px;"></span>
                      <span style="color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px; margin: 10px 0px 0px 20px; display: inline-block; font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;ヒラギノ角ゴ Pro W3&quot;, &quot;Hiragino Kaku Gothic Pro&quot;, メイリオ, Meiryo, &quot;ＭＳ Ｐゴシック&quot;, arial, sans-serif; vertical-align: top;">Google でログイン</span>
                    </button> -->
                    <p class="AlternativesSeparator" style="margin-bottom: 10px; overflow: hidden; text-align: center; color: rgb(0, 0, 0); font-weight: bold;">または</p>
                  </div>
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <!-- <form method="POST" novalidate=""> -->
                    <fieldset style="position: relative; margin-bottom: 7px;">
                      <%= f.email_field :email, autocomplete: "username", placeholder: "メールアドレス", style: "background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: none; position: relative; -webkit-font-smoothing: antialiased; border-radius: 3px; font-weight: bold; padding: 10px; box-sizing: border-box; width: 100%; color: rgb(51, 51, 51); font-size: 14px;" %>
                      <!-- <input type="email" autocomplete="username" name="id" placeholder="メールアドレス" value="" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: none; position: relative; -webkit-font-smoothing: antialiased; border-radius: 3px; font-weight: bold; padding: 10px; box-sizing: border-box; width: 100%; color: rgb(51, 51, 51); font-size: 14px;"> -->
                    </fieldset>
                    <fieldset style="position: relative;">
                      <%= f.password_field :password, autocomplete: "current-password", minlength: "6", placeholder: "パスワード", style: "background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: none; position: relative; -webkit-font-smoothing: antialiased; border-radius: 3px; font-weight: bold; padding: 10px; box-sizing: border-box; width: 100%; color: rgb(51, 51, 51); font-size: 14px;" %>
                      <!-- <input type="password" autocomplete="current-password" name="password" placeholder="パスワード" value="" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: none; position: relative; -webkit-font-smoothing: antialiased; border-radius: 3px; font-weight: bold; padding: 10px; box-sizing: border-box; width: 100%; color: rgb(51, 51, 51); font-size: 14px;"> -->
                    </fieldset>
                    <%= f.submit "ログイン", class: "red SignupButton", style: "border: 0px; height: 36px; display: inline-block; border-radius: 4px; -webkit-font-smoothing: antialiased; padding: 0px 18px; font-size: 15px; font-weight: bold; outline: none; position: relative; box-shadow: none; cursor: pointer; margin-top: 10px; vertical-align: middle; text-align: center; background-color: rgb(189, 8, 28); color: rgb(255, 255, 255); width: 100%;" %>
                    <!-- <button class="red SignupButton" type="submit" style="border: 0px; height: 36px; display: inline-block; border-radius: 4px; -webkit-font-smoothing: antialiased; padding: 0px 18px; font-size: 15px; font-weight: bold; outline: none; position: relative; box-shadow: none; cursor: pointer; margin-top: 10px; vertical-align: middle; text-align: center; background-color: rgb(189, 8, 28); color: rgb(255, 255, 255); width: 100%;">
                      <div>ログイン</div>
                    </button>
                  </form> -->
                  <% end %>
                  <div style="margin-top: 15px;">
                    <%= link_to "パスワードをお忘れの場合", new_user_password_path %>
                    <br>
                    <span>法人の方ですか？
                      <a href="#" target="_blank">法人として登録</a>
                    </span>
                  </div>
                </div>
                <div>
                  <div style="border-bottom: 1px solid rgb(222, 222, 222); margin: 10px auto; width: 110px;"></div>
                  <span style="display: inline-block; margin-right: 4px;">アカウントが必要ですか？ </span>
                  <%= link_to "アカウントを作成", new_user_registration_path, class: "FullPageSignup__signupToggle", style: "border: none; background-color: rgb(239, 239, 239); font-weight: bold; text-decoration: none; vertical-align: baseline;" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="appendedContainer"></div>
  </div>
</div>
